html, body, ul, li, h1, h5, p {
  margin: 0;
  padding: 0;
  border: 0;
  font-family: 'Roboto', sans-serif;
}

html, body {
  min-height: 100vh;
  min-height: 100vw;
  height: 100%;
  width: 100%;
}

a, :focus, :hover, ::selection {
  text-decoration: none;
  color: inherit;
  background: transparent;
  outline: 0;
  -webkit-tap-highlight-color: transparent;
}
